name: CI

on:
    push:
        branches:
            - 'release/**'
    pull_request:

env:
    ALIAS_VERSION: '7.1'
    VERSION_FOR_ALIAS: '7.1.33'

jobs:
    ci:
        name: Build PHP ${{ matrix.php-version }} + ${{ matrix.debian-distro }}

        runs-on: ubuntu-latest

        continue-on-error: true

        strategy:
            matrix:
                include:
                    -   php-version: '7.1.33'
                        debian-distro: 'buster'
                    -   php-version: '7.1.32'
                        debian-distro: 'buster'
                    -   php-version: '7.1.31'
                        debian-distro: 'buster'
                    -   php-version: '7.1.30'
                        debian-distro: 'jessie'
                    -   php-version: '7.1.29'
                        debian-distro: 'jessie'
                    -   php-version: '7.1.28'
                        debian-distro: 'jessie'
                    -   php-version: '7.1.27'
                        debian-distro: 'jessie'
                    -   php-version: '7.1.26'
                        debian-distro: 'jessie'
                    -   php-version: '7.1.25'
                        debian-distro: 'jessie'
                    -   php-version: '7.1.24'
                        debian-distro: 'jessie'
                    -   php-version: '7.1.23'
                        debian-distro: 'jessie'
                    -   php-version: '7.1.22'
                        debian-distro: 'jessie'
                    -   php-version: '7.1.21'
                        debian-distro: 'jessie'
                    -   php-version: '7.1.20'
                        debian-distro: 'jessie'
                    -   php-version: '7.1.19'
                        debian-distro: 'jessie'
                    -   php-version: '7.1.18'
                        debian-distro: 'jessie'
                    -   php-version: '7.1.17'
                        debian-distro: 'jessie'
                    -   php-version: '7.1.16'
                        debian-distro: 'jessie'
                    -   php-version: '7.1.15'
                        debian-distro: 'jessie'
                    -   php-version: '7.1.14'
                        debian-distro: 'jessie'
                    -   php-version: '7.1.13'
                        debian-distro: 'jessie'
                    -   php-version: '7.1.12'
                        debian-distro: 'jessie'
                    -   php-version: '7.1.11'
                        debian-distro: 'jessie'
                    -   php-version: '7.1.10'
                        debian-distro: 'jessie'
                    -   php-version: '7.1.6'
                        debian-distro: 'jessie'
                        distro-suffix: 'no'
                    -   php-version: '7.1.3'
                        debian-distro: 'jessie'
                        distro-suffix: 'no'
                    -   php-version: '7.1.2'
                        debian-distro: 'jessie'
                        distro-suffix: 'no'

        steps:
            -   name: "Checkout code"
                uses: actions/checkout@v2

            -   run: ./build_version.sh ${{ matrix.php-version }} ${{ matrix.debian-distro }} ${{ matrix.distro-suffix }}

            -   run: docker run --rm -t exozet/php-fpm:${{ matrix.php-version }} php -i

            -   run: docker run --rm -t exozet/php-fpm:${{ matrix.php-version }} php -v

            -   if: contains(github.ref, 'refs/heads/release/')
                name: Login to DockerHub
                uses: docker/login-action@v1
                with:
                    username: ${{ secrets.DOCKER_USERNAME }}
                    password: ${{ secrets.DOCKER_PASSWORD }}

            -   if: contains(github.ref, 'refs/heads/release/')
                name: Login to Quay.io
                uses: docker/login-action@v1
                with:
                    registry: quay.io
                    username: ${{ secrets.QUAY_USERNAME }}
                    password: ${{ secrets.QUAY_PASSWORD }}

            -   if: contains(github.ref, 'refs/heads/release/') && matrix.php_version == env.VERSION_FOR_ALIAS
                name: "Push PHP ${{ matrix.php-version }} and for version alias ${{ env.ALIAS_VERSION }}"
                run: ./push_version.sh ${{ matrix.php-version }} ${{ env.ALIAS_VERSION }}

            -   if: contains(github.ref, 'refs/heads/release/') && matrix.php_version != env.VERSION_FOR_ALIAS
                name: "Push PHP ${{ matrix.php-version }}"
                run: ./push_version.sh ${{ matrix.php-version }}
